<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.applesignin</key>
	<array>
		<string>Default</string>
	</array>
	<!--
		Apple Pay (Stripe): Xcode > Signing & Capabilities > Apple Pay,
		then add com.apple.developer.in-app-payments with merchant id(s).
	-->
</dict>
</plist>
